@model ITLASchool.Models.AsignaturasMaestros

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AsignaturasMaestros</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asignaturas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asignaturas.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profesores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profesores.Apellido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AsignaturasMaestrosID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
